<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display record</title>

    {% load static %}
    <!--<link rel="stylesheet" href="{% static 'library.css' %}"/>
    <script src="{% static 'librarybootstrap.js' %}"></script>
    <script src="{% static 'libraryjquery.js' %}"></script>-->

   <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <style>
        th{color:blue;padding:10px}
        td{padding:10px}
        h2{font-weight:bold;text-align:center}
        body{
            background-image:url("{% static '/5.jpg' %}");
            background-size: cover;
        }
        button{margin-top:200px;margin-left:300px}
    </style>
</head>
<body>
<h2>Todays Appointment's !</h2>
    <hr>
<div style="background-color:white;width:80%;margin-left:100px">
<table class="table-hover"  width="100%" border="1" font-weight="bold">
    {% csrf_token %}
    <tr>
        <th>Patient id</th>
        <th>Patient name</th>
        <th>Contact no</th>
        <th>Address</th>
        <th>Reference</th>
        <th>Change</th>
    </tr>
    {% for patient1 in patient1 %}

    <tr>
        <td>{{ patient1.pid }}</td>
        <td>{{ patient1.pname }}</td>
        <td>{{ patient1.contact }}</td>
        <td>{{ patient1.address }}</td>
        <td>{{ patient1.reference }}</td>
        <td><a href="/edit/{{ patient1.id }}">Edit</a>/<a href="/delete/{{ patient1.id }}">Delete</a></td>
    </tr>
    {% endfor %}

</table>
    </div>
<button type="submit" class="btn btn-active"><a href="/Add_appointment">Add Appointment</a></button>
<button type="submit" class="btn btn-active"><a href="/Show_appointment" >Show Appointment</a></button>

<button type="submit" style="width:20%;align:center;height:50px;text-align:centre;margin-left:300px"><a href="\"><h4>logout</h4></a></button>



</body>
</html>